@import "reset";
@import "cover-item";

.main-slider {
    display:block;
    &__item {
        width: 230px;
        height: 282px;
    }
}



.action-block {
    &__btn {
        

        
    }
}
.btn-svg__img {
    width: 50px;
    height: 58px;
}
.cover-background__img{
    position:absolute;
    display: block;
}