@import "reset";
@import "cover-item";
@import "info-item";
@import "scroll";
@import "fonts";

.main-slider {
    margin-left: 10px;

    &__displayed {
        overflow: hidden;
        width: 860px;
    }

    .main-slider {
        display: flex;
        height: 282px;
        flex-direction: row;
        align-content: space-around;
        justify-content: flex-start;
        align-items: center;
        gap: 0 20px;
        transform: translate(0,0);

        &__item {
            width: 230px;
            height: 282px;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            align-content: flex-start;
            align-items: stretch;

            &:hover .action-block {
                display: inline;
            }
        }
    }
}