.item-block {
    &__info {
        margin-top: 15px;
        width: 200px;
        .block-info {
            &__title {
                //margin-bottom: 10px;
            }

            &__description{
                margin-top: 10px;
            }
        }
    }
}
